// Regular
@font-face {
    font-family: 'Sofia Pro Regular';
    src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf");
    font-style: normal;
    font-weight: normal;
}

// Bold
@font-face {
    font-family: 'Sofia Pro Bold';
    src: url("../fonts/Sofia\ Pro\ Bold\ Az.otf");
    font-style: normal;
    font-weight: normal;
}

// Black
@font-face {
    font-family: 'Sofia Pro Black';
    src: url("../fonts/Sofia\ Pro\ Black\ Az.otf");
    font-style: normal;
    font-weight: normal;
}
