
// Colors
$primary-color: #F36A46;
$deep-orange:#AE4D33;
$light-orange: #FF9589;
$white: #FFFFFF;
$purple: #ECEDFF;
$violet:#EDDFFF;
$black: #110F17;
$pink: #F9DFE6;
$cream: #FFEBCE;
$light-brown: #FFE2DA;
$light-cream: #FFE8E2;
$grey: #939DAA;
$light-grey: #ECEDEE;
$light-cream2: #FFE5DB;
$light-blue: #CEDCFF;
$green:#CEF9F6;

// Font family
$font-regular: 'Sofia Pro Regular';
$font-bold: 'Sofia Pro Bold';
$font-black: 'Sofia Pro Black';

// Font size
$font-small : .875em;

// box shadow
$shadow: 0 .5rem 1rem rgba(171, 173, 215, 0.2);
$shadow-sm: 0 .125rem .25rem rgba(171, 173, 215, 0.2);
$card-shadow: 0px 4px 27px rgba(182, 190, 206, 0.3);
$bookings-icon-shadow:  0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #EDBDCA;
$portfolio-icon-shadow:  0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #F5D4A4;
$payments-icon-shadow:  0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #CBB6E7;
$analytics-icon-shadow:  0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #F0C8B8;
$clients-icon-shadow: 0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #A4B1F5;
$green-shadow: 0px 4px 27px rgba(182, 190, 206, 0.3), inset 0px 0px 12px #AEE2DF;

